<div class="row">
  <div class="col-md-12">
    <div ba-panel ba-panel-title="Dataplicity">
      <div class="col-md-12">
        <div ng-if="loading_config" class="text-center padd-bottom">
          <i class="fa fa-spinner fa-spin"></i> Loading...
        </div>
        <form name="dataplicityForm" ng-hide="loading_config">
          <div>
            <label class="checkbox-inline custom-checkbox nowrap control-label">
              <input ng-change="updateSettings(config.enable_dataplicity)" type="checkbox" name="enable_dataplicity"
                ng-model="config.enable_dataplicity">
              Enable Dataplicity
            </label>
            <span class="help-block">Access your machine's shell and admin remotely.</span>
          </div>
          <hr>
          <div ng-show="config.enable_dataplicity">
            <div ng-if="old_config.email">
              <span>Click <a href="https://dataplicity.com/terminal/{{config.device_serial}}" target="_blank">here</a> and login
                using this email <span class="text-primary">{{old_config.email}}</span> to view and monitor your
                machine online.</span>
              <hr>
              <a ng-click="$parent.show_account=!$parent.show_account" ng-hide="show_account">Show Account</a>
            </div>
            <div ng-if="!old_config.email || show_account">
              <div class="form-group" ng-class="{'has-error': dataplicityForm.email.$invalid}">
                <label class="control-label">Email: </label>
                <input type="email" name="email" class="form-control" ng-model="config.email" required>
              </div>
              <div ng-hide="is_register" class="form-group" ng-class="{'has-error': dataplicityForm.password.$invalid}">
                <label class="control-label">Password: </label>
                <input type="password" name="password" class="form-control" ng-model="config.password" required>
              </div>
              <div class="padd-bottom">
                <span ng-hide="is_register">No account yet? <a ng-click="is_register = true">Register</a></span>
                <span ng-show="is_register">Already have an account? <a ng-click="is_register = false">Back</a></span>
              </div>
              <button type="button" class="btn btn-primary"
                ng-disabled="is_register ? (dataplicityForm.email.$invalid || dataplicityForm.email.$pristine) : (dataplicityForm.password.$invalid || dataplicityForm.email.$invalid || dataplicityForm.email.$pristine || dataplicityForm.password.$pristine)"
                ng-click="is_register ? register(config.email) : addDevice(config)" ladda="loading">{{loading ? (is_register ? 'Registering..' : 'Installing..') : (is_register ? 'Register' : 'Install')}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div ba-panel ba-panel-title="Dataplicity Tutorial">
      <h4>How to use Dataplicity</h4>
      <p>Register above, then follow the video to access your machine's shell and admin.</p>
      <video style="width:100%;height:auto;" controls tabindex="1" id="demo-video">
        <source src="/plugins/dataplicity-plugin/assets/demo.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>

    </div>
  </div>
</div>